swagger: '2.0'
info:
  version: 4.0.0
  title: Paraşüt - API V4
  x-logo:
    url: 'https://apidocs.parasut.com/logo.png'
    backgroundColor: null
  description: >
    # Introduction


    - API V4 test aşamasındadır.


    - API geliştirmesinde çoğunlukla JSONAPI (http://jsonapi.org/)
    standartlarına uymaya çalıştık.


    - Dökümantasyon oluşturulmasında ise OpenAPI-Swagger 2.0 kullandık.


    - API hizmetimizin `BASE_URL`i `https://api.parasut.com` şeklindedir.


    - V4 endpointlerine ulaşmak için `https://api.parasut.com/v4` şeklinde
    kullanabilirsiniz.


    # Authentication


    <!-- ReDoc-Inject: <security-definitions> -->


    ## access_token almak:


    access_token almanız için iki farklı seçenek bulunmaktadır.


    Kullanım şeklinize bağlı olarak iki yöntemden birini tercih etmelisiniz.


    ### 1. grant_type=authorization_code


    1. Kullanıcıyı şu adrese yönlendirin:

      ```
      BASE_URL/oauth/authorize?client_id=CLIENT_ID&redirect_uri=REDIRECT_URL&response_type=code
      ```

    2. Oturum açmışsa ve uygulamayı kabul ederse, kullanıcı sizin tanımladığınız
    REDIRECT_URL'e şu şekilde gelmesi gerekiyor:
      `REDIRECT_URL?code=xxxxxxx`

    3. Burada size gelen "code" parametresi ile access token almalısınız.


    ```bash

    curl -F grant_type=authorization_code \

    -F client_id=CLIENT_ID \

    -F client_secret=CLIENT_SECRET \

    -F code=RETURNED_CODE \

    -F redirect_uri=REDIRECT_URL \

    -X POST BASE_URL/oauth/token

    ```


    ### 2. grant_type=password


    access_token almanız için aşağıdaki url'de size özel alanları doldurarak
    POST ile ulaşmanız gerekmektedir.


    ```bash

    BASE_URL/oauth/token?client_id=CLIENT_ID&client_secret=CLIENT_SECRET&username=YOUREMAIL&password=YOURPASSWORD&grant_type=password&redirect_uri=urn:ietf:wg:oauth:2.0:oob

    ```


    ### Sonuç


    Her iki yöntem sonucunda size aşağıdaki gibi bir sonuç dönecektir:


    ```json

    {
     "access_token": "XYZXYZXYZ",
     "token_type": "bearer",
     "expires_in": 7200,
     "refresh_token": "ABCABCABC"
    }

    ```


    Burada dönen `access_token`'ı API endpointlerine ulaşmak için gönderdiğiniz
    sorgulara `Authorization` header'ı olarak `Bearer XYZXYZXYZ` şeklinde
    eklemeniz gerekiyor.



    #### Refresh token ile yeni access_token alma örneği:


    `access_token` geçerliliğini 2 saat içerisinde yitirdiği için
    `refresh_token` ile yeni token alabilirsiniz.


    ```bash

    curl -F grant_type=refresh_token \

    -F client_id=CLIENT_ID \

    -F client_secret=CLIENT_SECRET \

    -F refresh_token=REFRESH_TOKEN \

    -X POST BASE_URL/oauth/token

    ```


    # Basic Actions


    ## Satış Faturası Oluşturma


    Satış faturası oluşturmak için adım adım şunlara ihtiyacınız vardır:


    - Müşteri ID'si
      - [Müşteri listesi](/#operation/listContacts)
      - [Müşteri oluşturma](/#operation/createContact)
    - Ürün ID'leri
      - [Müşteri listesi](/#operation/listContacts)
      - [Müşteri oluşturma](/#operation/createContact)

    Yukarıdaki bilgilere sahip olduktan sonra [Satış Faturası
    Oluşturma](/#operation/createSalesInvoice) adımına geçebilirsiniz.



    `relationships`:
      - `details` kısmına fatura kalemlerini `array` şeklinde girmelisiniz.
      - `contact` kısmına müşteri bilgisini girmelisiniz.

    ## Satış Faturası Resmileştirme


    Satış faturasını
    [oluşturduktan](/#section/Basic-Actions/Satis-Faturasi-Olusturma) sonra
    e-Arşiv ve e-Fatura şeklinde resmileştirmek için adım adım şunları
    yapmalısınız:


    1. Müşterinizin e-Fatura kullanıcısı olup olmadığını öğrenmelisiniz.
      - Müşterinizin [e-Fatura posta kutusu](/#operation/listEInvoiceInboxes) var ise e-Fatura kullanıcısıdır.
    2. Eğer müşteriniz e-Fatura kullanıcısı ise:
      - [e-Fatura oluşturmalısınız](/#operation/createEInvoice)
    3. Eğer müşteriniz e-Fatura kullanıcısı değil ise:
      - [e-Arşiv oluşturmalısınız](/#operation/createEArchive)
    4. Her iki istek sonucunda da size takip edebileceğiniz bir işlem id'si
    dönecektir.
      Bu işlemi [sorgulama](/#tag/TrackableJobs) adresi ile belirli aralıklarla sorgulayıp, durum kontrolü yapmalısınız.

      - "data->attributes->status": "running" -> işlemin hala sürdüğü anlamına gelir.
      - "data->attributes->status": "error" -> bir hata olduğu anlamına gelir.
        - "data->attributes->errors": ile hataları görebilirsiniz.
      - "data->attributes->status": "done" -> başarılı bir işlem anlamına gelir.

    5. Başarılı resmileştirilen e-Arşiv

      E-arşiv faturalarınızı başarılı bir şekilde resmileştirdikten sonra müşterinize PDF ile ulaştırabilirsiniz.
      [e-Arşiv PDF](/#operation/showEArchivePdf) adresinden size dönen PDF'i indirip müşterinize gönderebilirsiniz. Unutmayın, bu URL 1 saat geçerli bir adrestir. Bu yüzden bu linki direk olarak müşterinizle <u>paylaşmamalısınız</u>. İndirip müşterinize ayrıca göndermelisiniz.

    5. Başarılı resmileştirilen e-Fatura

      Eğer e-fatura olarak başarılı bir şekilde resmileştirdiyseniz, yapmanız gereken başka bir işlem yoktur. Karşı taraf da e-fatura kullancısı olduğu için faturanız karşı tarafa otomatik olarak iletilecektir.
      Eğer isterseniz yine de [e-Fatura PDF](/#operation/showEInvoicePdf) adresinden size dönen PDF'i indirip müşterinize gönderebilirsiniz.
host: api.parasut.com
schemes:
  - https
basePath: /v4
consumes:
  - application/vnd.api+json
produces:
  - application/vnd.api+json
tags:
  - name: Accounts
  - name: Contacts
  - name: EArchives
  - name: EInvoiceInboxes
  - name: EInvoices
  - name: Employees
  - name: ItemCategories
  - name: Products
  - name: SalesInvoices
  - name: Tags
  - name: TrackableJobs
paths:
  '/{company_id}/accounts':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - Accounts
      operationId: listAccounts
      summary: Index
      description: ''
      parameters:
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, balance, balance_in_trl'
          default: '-id'
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
      responses:
        '200':
          description: Hesaplar
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Account'
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    post:
      tags:
        - Accounts
      operationId: createAccount
      summary: Create
      description: ''
      parameters:
        - name: account_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - accounts
                  attributes:
                    $ref: '#/definitions/AccountAttributes'
          in: body
          required: true
      responses:
        '201':
          description: Hesap
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Account'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/accounts/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: Hesap ID
        in: path
        required: true
    get:
      tags:
        - Accounts
      operationId: showAccount
      summary: Show
      description: ''
      responses:
        '200':
          description: Hesap
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Account'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    put:
      tags:
        - Accounts
      operationId: updateAccount
      summary: Edit
      description: ''
      parameters:
        - name: account_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - accounts
                  attributes:
                    $ref: '#/definitions/AccountAttributes'
          in: body
          required: true
      responses:
        '200':
          description: Hesap
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Account'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    delete:
      tags:
        - Accounts
      operationId: deleteAccount
      summary: Delete
      description: ''
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/contacts':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - Contacts
      operationId: listContacts
      summary: Index
      description: ''
      parameters:
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, balance, name, email'
          default: '-balance'
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, contact_portal, contact_people'
      responses:
        '200':
          description: Müşteriler/Tedarikçiler
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Contact'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - contact_portals
                        - contact_people
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    post:
      tags:
        - Contacts
      operationId: createContact
      summary: Create
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, contact_portal, contact_people'
        - name: contact_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - contacts
                  attributes:
                    $ref: '#/definitions/ContactAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '201':
          description: Müşteri/Tedarikçi
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Contact'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - contact_portals
                        - contact_people
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/contacts/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: Müşteri/Tedarikçi ID
        in: path
        required: true
    get:
      tags:
        - Contacts
      operationId: showContact
      summary: Show
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, contact_portal, contact_people'
      responses:
        '200':
          description: Müşteri/Tedarikçi
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Contact'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - contact_portals
                        - contact_people
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    put:
      tags:
        - Contacts
      operationId: updateContact
      summary: Edit
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, contact_portal, contact_people'
        - name: contact_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - contacts
                  attributes:
                    $ref: '#/definitions/ContactAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '200':
          description: Müşteri/Tedarikçi
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Contact'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - contact_portals
                        - contact_people
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    delete:
      tags:
        - Contacts
      operationId: deleteContact
      summary: Delete
      description: ''
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_archives':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    post:
      tags:
        - EArchives
      operationId: createEArchive
      summary: Create
      description: ''
      parameters:
        - name: e_archive_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - e_archives
                  attributes:
                    $ref: '#/definitions/EArchiveFormAttributes'
                  relationships:
                    type: object
                    properties:
                      sales_invoice:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - sales_invoices
          in: body
          required: true
      responses:
        '201':
          description: Trackable Job
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/TrackableJob'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_archives/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: EArchive ID
        in: path
        required: true
    get:
      tags:
        - EArchives
      operationId: showEArchive
      summary: Show
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: sales_invoice'
      responses:
        '200':
          description: e-Arşiv
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/EArchive'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - sales_invoices
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_archives/{id}/pdf':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: EArchive ID
        in: path
        required: true
    get:
      tags:
        - EArchives
      operationId: showEArchivePdf
      summary: Show PDF
      description: ''
      responses:
        '200':
          description: e-Arşiv PDF
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/EDocumentPdf'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_invoice_inboxes':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - EInvoiceInboxes
      operationId: listEInvoiceInboxes
      summary: Index
      description: ''
      parameters:
        - name: 'filter[vkn]'
          type: string
          in: query
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
      responses:
        '200':
          description: E-fatura posta kutuları
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/EInvoiceInbox'
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_invoices':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    post:
      tags:
        - EInvoices
      operationId: createEInvoice
      summary: Create
      description: ''
      parameters:
        - name: e_invoice_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - e_invoices
                  attributes:
                    $ref: '#/definitions/EInvoiceFormAttributes'
                  relationships:
                    type: object
                    properties:
                      sales_invoice:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - sales_invoices
          in: body
          required: true
      responses:
        '201':
          description: Trackable Job
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/TrackableJob'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_invoices/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: EInvoice ID
        in: path
        required: true
    get:
      tags:
        - EInvoices
      operationId: showEInvoice
      summary: Show
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: invoice'
      responses:
        '200':
          description: e-Fatura
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/EInvoice'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - sales_invoices
                        - purchase_bills
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/e_invoices/{id}/pdf':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: EInvoice ID
        in: path
        required: true
    get:
      tags:
        - EInvoices
      operationId: showEInvoicePdf
      summary: Show PDF
      description: ''
      responses:
        '200':
          description: e-Fatura PDF
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/EDocumentPdf'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/employees':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - Employees
      operationId: listEmployees
      summary: Index
      description: ''
      parameters:
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, balance, name, email'
          default: '-balance'
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, managed_by_user, managed_by_user_role'
      responses:
        '200':
          description: Çalışanlar
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Employee'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - users
                        - user_roles
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    post:
      tags:
        - Employees
      operationId: createEmployee
      summary: Create
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, managed_by_user, managed_by_user_role'
        - name: employee_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - employees
                  attributes:
                    $ref: '#/definitions/EmployeeAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '201':
          description: Çalışan
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Employee'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - users
                        - user_roles
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/employees/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: Çalışan ID
        in: path
        required: true
    get:
      tags:
        - Employees
      operationId: showEmployee
      summary: Show
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, managed_by_user, managed_by_user_role'
      responses:
        '200':
          description: Çalışan
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Employee'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - users
                        - user_roles
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    put:
      tags:
        - Employees
      operationId: updateEmployee
      summary: Edit
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category, managed_by_user, managed_by_user_role'
        - name: employee_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - employees
                  attributes:
                    $ref: '#/definitions/EmployeeAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '200':
          description: Çalışan
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Employee'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - users
                        - user_roles
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    delete:
      tags:
        - Employees
      operationId: deleteEmployee
      summary: Delete
      description: ''
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/item_categories':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - ItemCategories
      operationId: listItemCategories
      summary: Index
      description: ''
      parameters:
        - name: 'filter[name]'
          type: string
          in: query
        - name: 'filter[category_type]'
          type: string
          in: query
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, name, category_type'
          default: id
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: parent_category, subcategories'
      responses:
        '200':
          description: Kategoriler
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ItemCategory'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    post:
      tags:
        - ItemCategories
      operationId: createItemCategory
      summary: Create
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: parent_category, subcategories'
        - name: item_category_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - item_categories
                  attributes:
                    $ref: '#/definitions/ItemCategoryAttributes'
          in: body
          required: true
      responses:
        '201':
          description: Kategori
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ItemCategory'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/item_categories/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: Kategori ID
        in: path
        required: true
    get:
      tags:
        - ItemCategories
      operationId: showItemCategory
      summary: Kategori bilgisini gösterir.
      description: >-
        Ayrıntısını görmek istediğiniz kategorinin id'sini göndererek gerekli
        bilgilere ulaşabilirsiniz.
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: parent_category, subcategories'
      responses:
        '200':
          description: Kategori
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ItemCategory'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    put:
      tags:
        - ItemCategories
      operationId: updateItemCategory
      summary: Edit
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: parent_category, subcategories'
        - name: item_category_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - item_categories
                  attributes:
                    $ref: '#/definitions/ItemCategoryAttributes'
          in: body
          required: true
      responses:
        '200':
          description: Kategori
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/ItemCategory'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    delete:
      tags:
        - ItemCategories
      operationId: deleteItemCategory
      summary: Delete
      description: ''
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/products':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - Products
      operationId: listProducts
      summary: Index
      description: ''
      parameters:
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, name'
          default: '-id'
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category'
      responses:
        '200':
          description: Ürünler
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Product'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
              meta:
                $ref: '#/definitions/ListMeta'
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    post:
      tags:
        - Products
      operationId: createProduct
      summary: Create
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category'
        - name: product_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - products
                  attributes:
                    $ref: '#/definitions/ProductAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '201':
          description: Ürün
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Product'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/products/{id}':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
      - name: id
        type: integer
        description: Ürün ID
        in: path
        required: true
    get:
      tags:
        - Products
      operationId: showProduct
      summary: Show
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category'
      responses:
        '200':
          description: Ürün
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Product'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    put:
      tags:
        - Products
      operationId: updateProduct
      summary: Edit
      description: ''
      parameters:
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: 'Available: category'
        - name: product_form
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    maxLength: 255
                  type:
                    type: string
                    maxLength: 255
                    description: Type of the resource
                    enum:
                      - products
                  attributes:
                    $ref: '#/definitions/ProductAttributes'
                  relationships:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          data:
                            type: object
                            properties:
                              id:
                                type: string
                                maxLength: 255
                              type:
                                type: string
                                maxLength: 255
                                description: Type of the resource
                                enum:
                                  - item_categories
          in: body
          required: true
      responses:
        '200':
          description: Ürün
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Product'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
    delete:
      tags:
        - Products
      operationId: deleteProduct
      summary: Delete
      description: ''
      responses:
        '204':
          description: No content
        '400':
          description: Bad Request
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '401':
          description: Unauthorized
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '403':
          description: Forbidden
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
        '422':
          description: Unprocessable Entity
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/Error'
  '/{company_id}/sales_invoices':
    parameters:
      - name: company_id
        type: integer
        description: Firma ID
        in: path
        required: true
    get:
      tags:
        - SalesInvoices
      operationId: listSalesInvoices
      summary: Index
      description: ''
      parameters:
        - name: sort
          type: string
          in: query
          title: Sortable parameters
          description: 'Available: id, issue_date, due_date, remaining, remaining_in_trl'
          default: '-remaining_in_trl'
        - name: 'page[number]'
          type: integer
          in: query
          title: Page Number
          default: 1
        - name: 'page[size]'
          type: integer
          in: query
          title: Page Size
          default: 15
          minimum: 1
          maximum: 25
        - name: include
          type: string
          in: query
          title: Related records that you want to receive with response
          description: >-
            Available: category, contact, details, payments, tags, refunds,
            sharings, recurrence_plan
      responses:
        '200':
          description: Satış faturaları
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/SalesInvoice'
              included:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    type:
                      type: string
                      maxLength: 255
                      description: Type of the resource
                      enum:
                        - item_categories
                        - contacts
                        - sales_invoice_details
                        - payments
                        - tags
                        - purchase_bills
                        - sharings
                        - recurrence_plans
                    meta:
                      type: object
                      properties:
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                    attributes:
                      type: object
                    relationships:
                      type: object
[...]
